{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<style>
  .home-container {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 30px auto;
  }
  .home-container label, .home-container h3 {
    color: #fff !important;
  }

  .home-container button[type="submit"] {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }

  #note {
    height: 150px;
  }

  #notes {
    margin-bottom: 20px;
  }
</style>

<div class="home-container">
<h3 align="center">Notes</h3>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
</div>
{% endblock %}